# Frontend files
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-language=JavaScript linguist-weight=1
*.jsp linguist-detectable=false

# Backend files
*.java linguist-language=Java linguist-weight=3
